/* @import "tailwindcss"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-bg);
}

@font-face {
  font-family: Alpino-N;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Fonts/Alpino/Alpino-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Alpino-L;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../Fonts/Alpino/Alpino-Light.woff2") format("woff2");
}

@font-face {
  font-family: Alpino-B;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Fonts/Alpino/Alpino-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Clash-N;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Fonts/Clash/ClashDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Clash-L;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../Fonts/Clash/ClashDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: Clash-B;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Fonts/Clash/ClashDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-N;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/Fonts/Satoshi/Satoshi-Regular.woff") format("woff2");
}

@font-face {
  font-family: Satoshi-L;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/public/Fonts/Satoshi/Satoshi-Light.woff") format("woff2");
}

@font-face {
  font-family: Satoshi-B;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/public/Fonts/Satoshi/Satoshi-Bold.woff") format("woff2");
}

/* Colors */
:root {
  --text-primary: #b5ff6d;
  --text-secondary: #f6f7ff;
  --color-dark-bg: #0b0b0d;
  --border-primary: #898888b4;
  --font-alpino-n: "Alpino-N", sans-serif;
  --font-alpino-l: "Alpino-L", sans-serif;
  --font-alpino-b: "Alpino-B", sans-serif;
  --font-clash-n: "Clash-N", sans-serif;
  --font-clash-l: "Clash-L", sans-serif;
  --font-clash-b: "Clash-B", sans-serif;
}

.nav-header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 6vw;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: start;
}

.nav-nav {
  position: relative;
  width: 100%;
  max-width: 1280px;
  background-color: transparent;
  outline: 0px;
  opacity: 1;
  will-change: auto;
  transform: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 4vw; */
  height: 5vh;
  margin-top: 3vh;
  z-index: 1000;
}

body > *:not(.nav-header) {
  position: relative;
  z-index: 1;
}

.nav-nav .nav-logo {
  font-size: 1.5vw;
  font-family: var(--font-clash-n);
  color: var(--text-secondary);
}

.nav-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 2vw;
  font-family: var(--font-alpino-n);
}

.nav-items {
  list-style: none;
}

.nav-items a {
  color: white;
  text-decoration: none;
}

.nav-nav .nav-items li {
  color: var(--text-primary);
  font-family: var(--font-clash-n);
  cursor: pointer;
  outline: none;
}

.nav-items * {
  transition: scale 300ms, filter 300ms;
}

.nav-items:has(:hover) :not(:hover) {
  scale: 0.95;
  filter: blur(0.7px);  
}

.nav-mode img {
  width: 1.7vw;
  height: 1.7vw;
  cursor: pointer;
  color: var(--text-primary);
}

.nav-logo {
  outline: none;
  color: var(--text-primary);
  cursor: pointer;
}

.nav-logo a {
  color: var(--text-secondary);
}

.nav-logo-k {
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.mob-nav {
  display: none;
}

.nav-items li a.active {
  color: #b5ff6d; 
}

/* Responsive design */

@media (max-width: 768px) {
  nav#navbar.nav-nav{
    padding: 0 2vw;
  }

  .nav-logo a {
    font-size: 5vw;
  }

  .nav-nav .nav-items li {
    display: none;
  }

  .nav-mode a #git {
    display: block;
    width: 7vw;
    height: 3vh;
  }

  .mob-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-dark-bg);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 1vh 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    border-top: 1px solid #f6f7ff7e;
    border-radius: 5vh;
  }

  .mob-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vw;
  }

  .items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .items li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .items li img{
    width: 6vw;
    height: 5vh;
    gap: 1vh;;
  }

  .items a{
    font-family: var(--font-alpino-n);
    font-size: 3.7vw;
    color: var(--text-secondary);
  }

  
}
